<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ec2Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Ec2Manager.Properties.Settings>
            <setting name="AMI" serializeAs="String">
                <value>ami-aa56a1dd</value>
            </setting>
            <setting name="LogonUser" serializeAs="String">
                <value>ubuntu</value>
            </setting>
            <setting name="SnapshotConfigUrl" serializeAs="String">
                <value>http://canton7-ec2manager.s3.amazonaws.com/snapshot-config.txt</value>
            </setting>
            <setting name="AwsCredentialsUrl" serializeAs="String">
                <value>https://portal.aws.amazon.com/gp/aws/securityCredentials?#access_credentials</value>
            </setting>
            <setting name="HomePageUrl" serializeAs="String">
                <value>https://github.com/canton7/ec2manager</value>
            </setting>
            <setting name="Ec2ConsoleUrl" serializeAs="String">
                <value>https://console.aws.amazon.com/ec2/home?region=eu-west-1</value>
            </setting>
            <setting name="Ec2PricingUrl" serializeAs="String">
                <value>http://aws.amazon.com/ec2/pricing/#on-demand</value>
            </setting>
            <setting name="CurrentVersionUrl" serializeAs="String">
                <value>http://canton7-ec2manager.s3.amazonaws.com/current-version.txt</value>
            </setting>
            <setting name="InstallerDownloadUrl" serializeAs="String">
                <value>http://canton7-ec2manager.s3.amazonaws.com/Releases/Ec2Manager-latest.exe</value>
            </setting>
            <setting name="DefaultImagesUserId" serializeAs="String">
                <value>935864617156</value>
            </setting>
        </Ec2Manager.Properties.Settings>
    </userSettings>
</configuration>
