<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ec2Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <section name="instanceSizes" type="Ec2Manager.Configuration.InstanceSizeConfigurationHandler, Ec2Manager"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Ec2Manager.Properties.Settings>
            <setting name="AMI" serializeAs="String">
                <value>ami-aa56a1dd</value>
            </setting>
            <setting name="LogonUser" serializeAs="String">
                <value>ubuntu</value>
            </setting>
            <setting name="AwsCredentialsUrl" serializeAs="String">
                <value>https://portal.aws.amazon.com/gp/aws/securityCredentials?#access_credentials</value>
            </setting>
            <setting name="HomePageUrl" serializeAs="String">
                <value>https://github.com/canton7/ec2manager</value>
            </setting>
            <setting name="Ec2ConsoleUrl" serializeAs="String">
                <value>https://console.aws.amazon.com/ec2/home?region=eu-west-1</value>
            </setting>
            <setting name="Ec2PricingUrl" serializeAs="String">
                <value>http://aws.amazon.com/ec2/pricing/#on-demand</value>
            </setting>
            <setting name="CurrentVersionUrl" serializeAs="String">
                <value>http://canton7-ec2manager.s3.amazonaws.com/current-version.txt</value>
            </setting>
            <setting name="InstallerDownloadUrl" serializeAs="String">
                <value>http://canton7-ec2manager.s3.amazonaws.com/Releases/Ec2Manager-latest.exe</value>
            </setting>
            <setting name="DefaultImagesUserId" serializeAs="String">
                <value>935864617156</value>
            </setting>
            <setting name="SnapshotPrefix" serializeAs="String">
                <value>[Ec2Manager]</value>
            </setting>
        </Ec2Manager.Properties.Settings>
    </userSettings>
  <nlog>
    <targets>
      <target name="errorfile" type="File"
              fileName="${gdc:item=LogFilePath}"
              createDirs="true"
              replaceFileContentsOnEachWrite="true"
              layout="${longdate} ${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="errorfile"/>
    </rules>
  </nlog>
  <instanceSizes>
    <instanceSize name="M3 Medium" key="m3.medium"/>
    <instanceSize name="M3 Large" key="m3.large"/>
    <instanceSize name="M3 Extra Large" key="m3.xlarge"/>
    <instanceSize name="M3 2x Extra Large" key="m3.2xlarge"/>

    <instanceSize name="Micro" key="t1.micro"/>

    <instanceSize name="High-Memory Extra Large" key="m2.xlarge"/>
    <instanceSize name="High-Memory 2x Extra Large" key="m2.2xlarge"/>
    <instanceSize name="High-Memory 4x Extra Large" key="m2.4xlarge"/>

    <instanceSize name="High-CPU Medium" key="c1.medium"/>
    <instanceSize name="High-CPU Extra Large" key="c1.xlarge"/>
  </instanceSizes>
</configuration>
